<!DOCTYPE html>
<html lang="en">
<head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
      <title>StatSnap</title>
      <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename = 'favicon.ico') }}">
      <!-- CSS  -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="jquery-3.3.1.min.js"></script>
   </head>
<body class = "grey lighten-4">
<nav class="grey lighten-3" role="navigation">
         <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo">
            <img src="{{ url_for('static', filename = 'statsnap.png') }}" width="260px" alt="Statsnap Logo"></a>
            <ul class="right hide-on-med-and-down">
                <li><a class="black-text" href="/general_charts">General Stats</a></li>
                <li><a class="black-text" href="/handle_charts">Handle Stats</a></li>
                <li><a class="black-text" href="/faq">FAQ</a></li>
                <li><a class="black-text" href="#">{{session['username']}}</a></li>
            </ul>
            <ul id="nav-mobile" class="sidenav">
               <li><a href="#">Navbar Link</a></li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
         </div>
</nav>

<h1 class = "center thin">Statistics</h1>
<h4 class = "center thin">For Handle {{handle}}.</h4>
<div class = "container z-depth-1">
<div class = "row">
        <div class = "col s6">

            <canvas id="5favorite_words_nfm"></canvas>
        </div>
        <div class = "col s6">

            <canvas id="5favorite_words_fm"></canvas>
        </div>

    </div>
        <hr>
        <div class = "row">

            <div class = "col s4">
            <h5 class = "center">Average Message Length</h5>
                <h3 class = "center thin">{{average_message_length_general}}</h3>
        </div>
            <div class = "col s4">
            <h5 class = "center">Number of Messages</h5>
                <h3 class = "center thin">{{total_messages_general}}</h3>
        </div>
            <div class = "col s4">
            <h5 class = "center">Date Of First Text</h5>
                <h4 class = "center thin">{{date_of_first_text}}</h4>
        </div>
        </div>
<hr>
    <div class = "row">
            <div class = "col s4">
            <h5 class = "center">Profane Language <br>Count</h5>
                <h3 class = "center thin">{{total_profane_lang}}</h3>


        </div>
            <div class = "col s4">
            <h5 class = "center">Profane Language <br> From You</h5>
                <h3 class = "center thin">{{profane_sent}}</h3>

        </div>
            <div class = "col s4">
            <h5 class = "center">Profane Language <br>From Others</h5>
                <h3 class = "center thin">{{profane_rec}}</h3>

        </div>


        </div>
        <hr>
    <div class = "row">
            <div class = "col s6">
            <h5 class = "center">Shortest Message</h5>
                <h5 class = "center thin">{{shortest_message}}</h5>


        </div>
            <div class = "col s6" >
            <h5 class = "center">Longest Message</h5>
                <div style="overflow-y: scroll;height: 200px;">
                <h5 class = "center thin">{{longest_message}}</h5>
                </div>
        </div>


    </div>
    <hr>
        <div class = "row">
        <div class = "col s12">

            <canvas id="messages_over_time"></canvas>
        </div>
        </div>
<hr>
     <form method="POST"><fieldset>
         {%for y in range(num_handles)%}

    <p>
      <label>
        <input name="handle_selector" value="{{unique_handles[y]}}" type="radio"{%if y == handle%} checked {%endif%}/>
        <span>{{unique_handles[y]}}</span>
      </label>
    </p>

        {%endfor%}
     </fieldset>
         <input type="submit" value="Submit">
  </form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
new Chart(document.getElementById("5favorite_words_nfm"), {
    type: 'doughnut',
    data: {
      labels: ["{{fav_words_not_from_me_labels[0]}}", "{{fav_words_not_from_me_labels[1]}}", "{{fav_words_not_from_me_labels[2]}}","{{fav_words_not_from_me_labels[3]}}","{{fav_words_not_from_me_labels[4]}}"],
      datasets: [{
        label: "Most Used Words Sent To You",
        backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
        data: [{{fav_words_not_from_me_data[0]}},{{fav_words_not_from_me_data[1]}},{{fav_words_not_from_me_data[2]}},{{fav_words_not_from_me_data[3]}},{{fav_words_not_from_me_data[4]}}]
      }]
    },
    options: {
      title: {
        display: true,
        text: 'Most Used Words In Received Messages'
      }
    }
});

new Chart(document.getElementById("5favorite_words_fm"), {
    type: 'doughnut',
    data: {
      labels: ["{{fav_words_from_me_labels[0]}}", "{{fav_words_from_me_labels[1]}}", "{{fav_words_from_me_labels[2]}}","{{fav_words_from_me_labels[3]}}","{{fav_words_from_me_labels[4]}}"],
      datasets: [{
        label: "Most Used Words Sent By You",
        backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
        data: [{{fav_words_from_me_data[0]}},{{fav_words_from_me_data[1]}},{{fav_words_from_me_data[2]}},{{fav_words_from_me_data[3]}},{{fav_words_from_me_data[4]}}]
      }]
    },
    options: {
      title: {
        display: true,
        text: 'Most Used Words In Sent Messages'
      }
    }
});
var ctx = document.getElementById('messages_over_time').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',
    // The data for our dataset
    data: {
        labels: [{% for x in range(num_datapoints_tot)%} '{{texts_over_time[x][0]}}',{%endfor%}],
        datasets: [{
            label: 'Messages Over Time',
            backgroundColor: '#8e5ea2',
            borderColor: 'rgb(49, 38, 90)',
            data: [{% for x in range(num_datapoints_tot)%} {{texts_over_time[x][1]}},{%endfor%}]
        }]
    },
    // Configuration options go here
    options: {title: {
        display: true,
        text: 'Messages Over Time'
      }}
});
</script>

<footer class="page-footer grey lighten-3">
         <div class="container">
            <div class="row">
               <div class="col s12">
                  <h5 class="black-text thin">About us</h5>
                  <p class="black-text thin">Developers: Theo Slepski, Daniel Smolinski, Michael Wojtyna</p>

                   <p class="black-text thin">Three senior computer science majors attending Stonehill College. This was our final project for CSC - 325 Database Management Systems.</p>
               </div>
            </div>
         </div>
         <div class="footer-copyright">
            <div class="container">
               <p class = "black-text thin left">2019</p>
               <p class="black-text thin right">CSC-325</p>
            </div>
         </div>
      </footer>
</body>
</html>