<!DOCTYPE html>
 <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
      <title>StatSnap</title>
      <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename = 'favicon.ico') }}">
      <!-- CSS  -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://cdn.datatables.net/responsive/2.1.0/css/responsive.dataTables.min.css" rel="stylesheet" media="screen">
<link href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet" media="screen">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js
"></script>
<script src="https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript">
        $(document).ready( function () {
    $('#myTable').DataTable();
} );</script>

   </head>
<body>
      <nav class="grey lighten-3" role="navigation">
         <div class="nav-wrapper container">
            <a id="logo-container" href="/" class="brand-logo">
            <img src="{{ url_for('static', filename = 'statsnap.png') }}" width="260px" alt="Statsnap Logo"></a>
            <ul class="right hide-on-med-and-down">
               <li><a class="black-text" href="#">FAQ</a></li>
            </ul>
            <ul id="nav-mobile" class="sidenav">
               <li><a href="/index">Navbar Link</a></li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
         </div>
      </nav>

<table id = "myTable" class = "striped highlight">
        <thead>
          <tr>
              <th>Text Message</th>
              <th>Is From Me</th>
              <th>Phone Number</th>
              <th>Date Of Text</th>

          </tr>
        </thead>

        <tbody>
          {% for data in list_of_messages %}
        <tr>
         <td>{{ data[0] }}</td>
            <td>{{ data[1] }}</td>
            <td>{{ data[2] }}</td>
            <td>{{ data[3] }}</td>
        </tr>
        {% endfor %}
        </tbody>
      </table>


</body>
</html>